<div class="app">
    <%= render "votes/form" %>
</div>

<br>

<div class="result">

    <div class="gibson">
        <h2>Gibson</h2>
        <%= @false %>
    </div>

    <div class="fender">
    <h2>Fender</h2>
    <%= @true %>
</div>
</div>

<%= @debu %>





